section{
    height: 50px;
    width: 100%;
    background-color: black;
    position: sticky;
    top: 0;
    font-family: cambria;
}
article{
    height: 50px;
    width: 80%;
    background-color: gray;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    color: white;
}